**Notes:**
* I am treating the given markdown cells as comments; thusly, redundant comments from the starter file have been removed, where I feel they don't explain the code any better than the code itself. I will happily convert the markdown cells to actual comments if that is preferred, but in the context of a Jupyter Notebook I assume that markdown cells are intended specifically for commenting the code.
* I have also removed any lines of code that aren't required in some way by the rubric, namely anything that serves as a verifcation for me, the programmer, and not my hypothetical client.

---

In [1]:
# Import the modules
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import RandomOverSampler

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
loan_df = pd.read_csv(
    Path('Resources/lending_data.csv')
)

loan_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
y = loan_df["loan_status"]
X = loan_df.drop(columns="loan_status")

In [4]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [5]:
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

### Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).
### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.
### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [8]:
def logistic_regression_evaluation(X_train, X_test, y_train, y_test):
    # Build and train model
    model = LogisticRegression(random_state=1)
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)

    # Evaluate
    print(f"""\
Balanced Accuracy Score:
{balanced_accuracy_score(y_test, predictions)}

Confusion Matrix:
{confusion_matrix(predictions, y_test)}

Classification Report:
{classification_report(predictions, y_test)}""")

logistic_regression_evaluation(X_train, X_test, y_train, y_test)

Balanced Accuracy Score:
0.9520479254722232

Confusion Matrix:
[[18663    56]
 [  102   563]]

Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00     18719
           1       0.91      0.85      0.88       665

    accuracy                           0.99     19384
   macro avg       0.95      0.92      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model predicts healthy loans with a precision of 99% and high-risk loans with a precision of 91%.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [12]:
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

y_resampled.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.
### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [11]:
logistic_regression_evaluation(X_resampled, X_test, y_resampled, y_test)

Balanced Accuracy Score:
0.9936781215845847

Confusion Matrix:
[[18649     4]
 [  116   615]]

Classification Report:
              precision    recall  f1-score   support

           0       0.99      1.00      1.00     18653
           1       0.99      0.84      0.91       731

    accuracy                           0.99     19384
   macro avg       0.99      0.92      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model predicts both healthy loans and high-risk loans with a precision of 99%.